.seconds-number {
    font-size: 50%;
    font-family: 'Catamaran', sans-serif;
  letter-spacing: 20px;
  font-weight: 900;
  max-width: 800px;
  display: block;
  font-size: 250px;
  color: rgba(95, 192, 254, 0.6);
  text-shadow:
  -14px 14px 0 rgba(50, 153, 240, 0.4),		
  -1px 1px 0 #0372b8,
  -2px 2px 0 #0372b8,
  -3px 3px 0 #0372b8,
  -4px 4px 0 #0372b8,
  -5px 5px 0 #0372b8,
  -6px 6px 0 #0372b8,
  -7px 7px 0 #0372b8,
  -8px 8px 0 #0372b8,
  -9px 9px 0 #0372b8,
  -10px 10px 0 #0372b8,
  -11px 11px 0 #0372b8,
  -12px 12px 0 #0372b8,
  -13px 13px 0 #0372b8,
  -14px 14px 0 #0372b8,
  -15px 15px 35px rgba(0, 0, 0, 0.2),
  -35px 15px 10px rgba(0, 0, 0, 0.1);
  transition: all .1s ;
  line-height: 240px;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}