.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.broken-score {
    background-color: aliceblue;
}
.crown-block {
    height: 40px;
    width: 40px;
    display: inline-flex;
    position: absolute;
    right: 18%;
    bottom: 3%;
}





