.app {
    width: 1024px;
    height: 600px;
    background-image: url('../src/assets/background/background.png');
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 4px;
}
@media (max-width: 1023px){
 .app{
width: 682px;
height: 393px;
background-image: url('../src/assets/background/background.png');
background-repeat: no-repeat;
background-size: cover;
border-radius: 4px;
 }
}

    @media only screen and (max-width: 741px) and (min-width: 665px) {
        /* phones */
        .app {
            width: 607px;
            height: 359px;
        }
    }
   
    @media only screen and (max-width: 655px) {
        /* phones */
        .app {
            width: 459px;
            height: 284px;
            top: 25%
        }
       
        
    }